!! IOS XR Configuration 6.3.1
!! Last configuration change at Thu Jan 12 03:48:40 2023 by ansible
!
hostname {{ item.value.name }}
clock timezone EST -5
clock summer-time EDT recurring
domain name cit.lcl
domain vrf Mgmt name-server 172.24.0.53
vrf Mgmt
 address-family ipv4 unicast
 !
!
interface MgmtEth0/0/CPU0/0
 vrf Mgmt
 ipv4 address {{ item.value.primary_ip4.address }}
 no shutdown
!
router static
 vrf Mgmt
  address-family ipv4 unicast
   0.0.0.0/0 172.24.4.1
  !
 !
!
ssh server vrf Mgmt
!! do crypto key import authentication rsa tftp://172.24.11.10;Mgmt/ansible.bin
!! do crypto key generate rsa
!! 2048
end